$height_mgm_maintoolbar: 64px;

:host {
    display: block;
    height: 100%;
    background-color: aquamarine;
}

.sidenav-container {
    height: 100%;
}

.main-container {
    overflow-y: auto;
    overflow-x: hidden;
    height: calc(100% - #{$height_mgm_maintoolbar});
    background-color: #eee;
}

