/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

mat-sidenav-container {
    height: 100%;
}

.mat-elevation-z1, 
.mat-elevation-z2, 
.mat-elevation-z3, 
.mat-elevation-z4, 
.mat-elevation-z5,
.mat-elevation-z6,
.mat-elevation-z7,
.mat-elevation-z8 {
    position: relative;
}